.headline {
  display: block;
  font-size: var(--fz-headline-2);
  font-weight: 300;
  text-align: center;
  position: relative;
  padding: 0 0 15px 0;
  text-transform: uppercase;
  width: 100%;
}
.headline::after {
  content: '';
  display: block;
  width: 61px;
  height: 5px;
  background-color: var(--color-black);
  position: absolute;
  left: var(--container-undo);
  bottom: 0;
}
@media screen and (min-width: 834px) {
  .headline {
    --margin: 15px;
    text-align: start;
    margin: 0 0 0 calc(var(--margin) * -1);

    &::after {
      width: 77px;
      left: calc(var(--container-undo) + var(--margin));
    }
  }
}
@media screen and (min-width: 1920px) {
  .headline {
    --margin: 0;
    padding: 0 0 30px 0;

    &::after {
      width: 200px;
      height: 10px;
      left: 0;
    }
  }
}
