.link {
  width: 276px;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 15px 0;
  font-weight: 300;
  font-size: var(--fz-text-medium);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media screen and (min-width: 1920px) {
  .link {
    font-size: var(--fz-text-large);
    gap: 9px;
    padding: 19px 0;
  }
}
