.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  flex: 0 0 185px;
}
.links {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 1920px) {
  .links {
    gap: 60px;
  }
}
